<html lang=>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../styles/bootstrap.css">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Mochila cheia</title>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light bg-warning fixed-top py-4 box-shadow" >
        <a href="#" class="navbar-brand">
          <img src="" alt="Mochila Cheia">
        </a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Abrir Navegação">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto me-5">
            <li class="nav-item">
              <a class="nav-link" href="index.html">Início</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contato.html">Contato</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="causa.html">Nossa Causa</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="perguntas.html">Perguntas Frequentes</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-outline-roxo verdeLetra btn-outline-primary ml-md-2" href="#">DOAR</a>
            </li>

          </ul>
        </div>
    </nav>
    <main>
        <section class="container-sm col-12 ">
        <div class="row">
            <div class=" container-md col-12  pt-5 setarMargin " >
                <h2 class="teste roxoLetra setarPadding mx-auto">
                  Crie sua conta
                </h2>
            </div>
        </div>
    </section>

    <section class="container-sm col-12">
        <div class="row ">
            <form class=" container-md col-12 mb-3  mx-auto " >
              <div class="container-md col-12 mb-3 pt-5 mx-auto ">
                  <div class="teste mx-auto">
                    <label for="exampleInputEmail1" class="form-label roxoLetra">E-mail</label>
                  </div>
                  <input type="email" class="form-control inputInfo  mx-auto" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <div id="emailHelp" class="form-text teste  mx-auto">Nunca compartilhe suas informações pessoais.</div>
              </div>
              <div class="container-md col-12 mb-3 mx-auto ">
                  <div class="teste mx-auto">
                    <label for="exampleInputEmail1" class="form-label roxoLetra">Senha</label>
                  </div>
                      <input type="password" id="inputPassword5" class="form-control inputInfo mx-auto" aria-describedby="passwordHelpBlock">
                  <div id="passwordHelpBlock" class="form-text teste mx-auto ">
                      Conter de 8 a 20 caracteres, letras, números e caracteres especiais.Não podendo conter espaços ou emojis.
                      <label for="inputPassword5" class="form-label mx-auto">Senha</label>
                      <input type="password" id="inputPassword5" class="form-control inputInfo" aria-describedby="passwordHelpBlock">
                      <div id="passwordHelpBlock" class="form-text alinhamento"> 
                      </div>
                      <div class="container-md col-12 mb-3 pt-3 mx-auto form-check">
                      <input type="checkbox" class="form-check-input col-4 form-check" id="exampleCheck1">
                      <label class="form-check-label roxoLetra ms-2" for="exampleCheck1 ">Não sou robô</label>
                      </div>
                  </div>  
            </div>             
            </form>
          </div> 
      </section> 
              <section class="container-sm col-6">
                <div class="row">
                    <div class=" container-md col-12 mb-3  setarPadding  form-check teste mx-auto " >
                      <button type="submit" class="btn botaoVerde botao2  alinhamentoBotao">Criar Conta</button>
                    <p class="teste mt-2 roxoLetra text-center mx-auto">Ja possui uma conta? <a href="views\login.html">Entrar</a> </p>
                </div>
              </section>
    </main>
    <footer class=" container-fluid botaoVerde text-white py-2 mt-5 " >
      <div class="container">
          <div class="row">
              <div class="col-8">
                  <h4 class="h6 text-warning">Endereço</h4>
                  <ul class="list-unstyled">
                      <li>Avenida Barão de Jaceguai</li>
                      <li>São Paulo-SP</li>
                      <li>Centro</li>
                  </ul>  
              </div>
              <div class="col-4">
                  <h4 class="h6 text-warning">Páginas</h4>
                  <ul class="list-unstyled roxoLetra">
                      <li><a href="">Facebook</a></li>
                      <li><a href="">Twitter</a></li>
                      <li><a href="">Instagram</a></li>
                  </ul>  
              </div> 
          </div>
      </div>
  </footer>
  <div class=" container-fluid bg-warning" >
      <div class="container">
          <div class="row">
              <p class="copy roxoLetra pt-3 mx-auto">© 2021 Mochila Cheia.  Todos os direitos reservados</p>
          </div>
      </div>
  </div>
    <script type="text/javascript" src="../js/bootstrap.js"></script>
    <script type="text/javascript" src="../js/jquery-3.2.1.slim.min.js"></script>
    <script type="text/javascript" src="../js/popper.min.js"></script>
    
</body>
</html>