<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/bootstrap.css">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Mochila cheia</title>
</head>
<body>
  <div class="container">
    <div></div>
    <div class="row ">
        <div class="col-6 mx-auto mb-4 mt-5 "> 
            <div class="mx-auto navTamanho">
                <a class="mx-auto fonteLogo" href="index.html" class="navbar-brand">
<!--                     <p class="fonteLogo setarMargin">Mochila cheia</p> -->
                    <img class="logo ms-4" src="../imgs/logo.png
                    " alt="Mochila Cheia">
                  </a>
            </div>
        </div>
    </div>
  </div>
  <div class="container">
      <div class="row">
          <ul class="nav nav-tabs ">
            <div class="col-3">
              <li class="nav-item">
                  <a class="nav-link" href="index.html">Inicio</a>
                </li>
          </div>
              <div class="col-3">
                  <li class="nav-item">
                      <a class="nav-link" href="nossaCausa.html">Nossa Causa</a>
                    </li>
              </div>
              <div class="col-3">
                  <li class="nav-item">
                      <a class="nav-link " href="contatos.html">Contato</a>
                  </li>
              </div>
              <div class="col-3">
                <li class="nav-item px-2 mt-1">
                  <a class="btn  verdeLetra btn-outline-primary ml-md-2 mb-2 px-2" href="index.html">Sair</a>
                </li>
            </div>
            </ul>
      </div>
  </div>
<main>
  </div>
    <section class="container-sm col-12 ">
        <div class="row">
            <div class=" container-md col-12  pt-5 setarMargin " >
                <p class="teste roxoLetra setarPadding mx-auto">
                  Nome do usuario
                </p>
            </div>
        </div>
    </section>
    <div class="container">
      <div>

      </div>
      <div class="col-6  mb-5 ">
        <input type="submit" class="col-6 btn fotoTamanho2 botaoVerde text-white" id="">
        <label class="input-group-text fotoTamanho2 botaoVerde text-white" for="">Carregar foto</label>
      </div>
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link " aria-current="page" href="contaUsuario.html">Doar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="contaUsuarioCadastrarDoacao.html">Cadastrar estudantes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="contaUsuarioInfo.html">Infos</a>
        </li>
      </ul>
      <section class="conatiner ">
        <div class="row">
            <div class="col-12 ms-2 pt-5 pb-2 text-center " >
                <h2 class="manrope h2Index mx-auto">
                   Meus estudantes
                </h2>
            </div>
        </div>
  </section>
    <section class="container-sm col-9 mt-2 mb-5">
        <div class="row">
            <div class="col-md-8 position-relative mt-3  mb-5 setarPadding">
              <p>Você ainda não cadastrou nenhum estudante, clique no botão ao lado para cadastrar
    <button class="botaoAdd ms-2"><img  src="../imgs/add.svg" alt=""></button> </p>    
            </div>          
           
        </div>
    </section>            
</main>
<div class=" container-fluid backVerde " >
  <div class="container">
      <div class="row">
          <p class="copy roxoLetra pt-3 mx-auto">© 2021 Mochila Cheia.  Todos os direitos reservados</p>
      </div>
  </div>
</div>
    <script type="text/javascript" src="../js/bootstrap.js"></script>
    <script type="text/javascript" src="../js/jquery-3.2.1.slim.min.js"></script>
    <script type="text/javascript" src="../js/popper.min.js"></script>  
</body>
</html>