<html lang=>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/bootstrap.css">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Mochila cheia</title>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light bg-warning fixed-top py-4 box-shadow" >
        <a href="index.html" class="navbar-brand">
          <img src="" alt="Mochila Cheia">
        </a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Abrir Navegação">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto me-5">
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contato</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Nossa Causa</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#">Perguntas Frequentes</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-outline-roxo verdeLetra btn-outline-primary ml-md-2" href="#">DOAR</a>
            </li>

          </ul>
        </div>
    </nav>
    <main>
        <section class="container-sm col-12 ">
        <div class="row">
            <div class=" container-md col-12  pt-5 setarMargin " >
                <h2 class="teste roxoLetra setarPadding mx-auto">
                  Crie sua conta
                </h2>
            </div>
        </div>
    </section>

    <section class="container-sm col-12">
        <form class="row  needs-validation" novalidate>
            <div class="col-md-6 position-relative mt-5">
              <label for="validationTooltip01" class="form-label roxoLetra">Primeiro Nome</label>
              <input type="text" class="form-control verdeLetra" id="validationTooltip01" value="Maria" required>
              <div class="valid-tooltip">
                Looks good!
              </div>
            </div>
            <div class="col-md-6 position-relative mt-5">
              <label for="validationTooltip02" class="form-label roxoLetra">Sobrenome</label>
              <input type="text" class="form-control verdeLetra" id="validationTooltip02" value="Silva" required>
              <div class="valid-tooltip">
                Looks good!
              </div>
            </div>
            <div class="col-md-4 position-relative mt-5">
              <label for="validationTooltip03" class="form-label roxoLetra">Cidade</label>
              <input type="text" class="form-control" id="validationTooltip03" required>
              <div class="invalid-tooltip">
                Entre com uma cidade válida.
              </div>
            </div>
            <div class="col-md-4 position-relative mt-5">
              <label for="validationTooltip04" class="form-label roxoLetra">Estado</label>
              <select class="form-select verdeLetra" id="validationTooltip04" required>
                <option  selected disabled value="">Escolha...</option>
                <option>São Paulo</option>
              </select>
              <div class="invalid-tooltip">
                Entre com um estado válido.
              </div>
            </div>
            <div class="col-md-4 position-relative mt-5">
              <label for="validationTooltip05 " class="form-label roxoLetra">CEP</label>
              <input type="text" class="form-control verdeLetra" id="validationTooltip05" required>
              <div class="invalid-tooltip">
                Entre com um CEP válido.
              </div>
            </div>
            <section class="container-sm col-12 ">
                <div class="row">
                    <div class=" container-md col-12 mb-3  setarPadding  form-check teste mx-auto mt-5" >
                      <button type="submit" class="btn botaoVerde botao2  alinhamentoBotao">Criar Conta</button>
                    <p class="teste mt-2 roxoLetra text-center mx-auto">Ja possui uma conta? <a href="login.html">Entrar</a> </p>
                </div>
              </section>
          </form>
    </section> 
              
    </main>
    <footer class=" container-fluid botaoVerde text-white py-2 mt-5 " >
      <div class="container">
          <div class="row">
              <div class="col-8 text-warning">
                  <h4 class="h6">Endereço</h4>
                  <ul class="list-unstyled roxoLetra ">
                      <li>Avenida Barão de Jaceguai</li>
                      <li>São Paulo-SP</li>
                      <li>Centro</li>
                  </ul>  
              </div>
              <div class="col-4 ">
                  <h4 class="h6 text-warning">Páginas</h4>
                  <ul class="list-unstyled roxoLetra">
                      <li><a href="" class="roxoLetra">Facebook</a></li>
                      <li><a href="" class="roxoLetra">Twitter</a></li>
                      <li><a href="" class="roxoLetra">Instagram</a></li>
                  </ul>  
              </div> 
          </div>
      </div>
  </footer>
  <div class=" container-fluid bg-warning" >
      <div class="container">
          <div class="row">
              <p class="copy roxoLetra pt-3 mx-auto">© 2021 Mochila Cheia.  Todos os direitos reservados</p>
          </div>
      </div>
  </div>
    <script type="text/javascript" src="../js/bootstrap.js"></script>
    <script type="text/javascript" src="../js/jquery-3.2.1.slim.min.js"></script>
    <script type="text/javascript" src="../js/popper.min.js"></script>
    
</body>
</html>