<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../styles/bootstrap.css">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Mochila cheia</title>
</head>
<body>
  <div class="container">
        <div class="row ">
            <div class="col-6 mx-auto mb-4 mt-5 "> 
                <div class="mx-auto navTamanho">
                    <a class="mx-auto fonteLogo" href="index.html" class="navbar-brand">
                        <p class="fonteLogo setarMargin">Mochila cheia</p>
                        <img class="logo ms-4" src="../imgs/logo.svg" alt="Mochila Cheia">
                      </a>
                </div>
            </div>
        </div>
  </div>
    <div class="container">
          <div class="row">
              <ul class="nav nav-tabs ">
                <div class="col-3">
                  <li class="nav-item">
                      <a class="nav-link" href="infos.html">Inicio</a>
                    </li>
              </div>
                  <div class="col-3">
                      <li class="nav-item">
                          <a class="nav-link" href="infos.html">Nossa Causa</a>
                        </li>
                  </div>
                  <div class="col-3">
                      <li class="nav-item">
                          <a class="nav-link " href="infos.html">Contato</a>
                      </li>
                  </div>
                  <div class="col-3">
                    <li class="nav-item px-2 mt-1">
                      <a class="btn  verdeLetra btn-outline-primary ml-md-2 mb-2 px-2" href="login.html">LOGIN</a>
                    </li>
                </div>
                </ul>
          </div>
    </div>
  <main>
      <section class="conatiner ">
            <div class="row">
                <div class="col-12 ms-2 pt-5 pb-5 text-center " >
                    <h2 class="manrope h2Index mx-auto">
                        Bem vindo ao Mochila Cheia aqui, aqui você faz a diferença!
                    </h2>
                </div>
            </div>
      </section>
      <section class="container-fluid">
        <div class="row ">
             <img  class="mx-auto materiasIndex" src="../imgs/mochila.svg" class="img-fluid" alt="desenho de mochila aberta com materiais">
        </div>

       <div class="row background mt-n1 bordaDiv">
          
        </div>
      </section>  
      <section class="conatiner ">
                <div class="row">
                    <div class="col-6 mx-auto pt-5 text-center" >
                       <p class="manrope2">
                           Diversos alunos querem estudar mas não possuem condições.
                       </p>
                       <p>Aqui diversas escolas próxima á você estão recebendo doações e mudando o futuro dos jovens</p>
                       <h6 class="display-4  roxoLetra">Bora doar!</h6>
                    </div>
                </div>
      </section>
      <section class="conatiner col-6 mx-auto pt-5 pb-5 ">
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn botao  botaoVerde mx-auto" type="button"><a href="cadastrarConta.html">Criar Conta</a></button>
                </div>
      </section>
      <section class="container-fluid backIndex  mt-5 pb-5">
        <div class="row">
          <div class="col-12 mx-auto">
            <h3 class="manrope2 mx-auto mt-5 mb-5"> <b class="mx-auto"> É facil entender como funciona!</b></h3>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-sm mt-5 mb-5">
                <h4 class="manrope3">1. Procure escolas</h4>
                <p class="manrope2">Procure a escola mais próxima de você</p>
              </div>
              <div class="col-sm mt-5 mb-5">
                <h4 class="manrope3">2. Selecione um aluno e o que vai doar</h4>
                <p class="manrope2">Escolha o material e a quantidade dele para doar</p>
              </div>
              <div class="col-sm mt-5 mb-5">
                <h4 class="manrope3">2. Selecione um aluno e o que vai doar</h4>
                <p class="manrope2">Escolha o material e a quantidade dele para doar</p>
              </div>
            </div>
          </div>
            
      </section>       
  </main>
  <div class=" container-fluid backVerde" >
      <div class="container">
          <div class="row">
              <p class="copy roxoLetra pt-3 mx-auto">© 2021 Mochila Cheia.  Todos os direitos reservados</p>
          </div>
      </div>
  </div>

    <script type="text/javascript" src="../js/bootstrap.js"></script>
    <script type="text/javascript" src="../js/jquery-3.2.1.slim.min.js"></script>
    <script type="text/javascript" src="../js/popper.min.js"></script>
    
</body>
</html>