<html lang=>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/bootstrap.css">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Mochila cheia</title>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light bg-warning fixed-top py-4 box-shadow" >
        <a href="index.html" class="navbar-brand">
          <img src="" alt="Mochila Cheia">
        </a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Abrir Navegação">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto">
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contato.html">Contato</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="causa.html">Nossa Causa</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="perguntas.html">Perguntas Frequentes</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-outline-primary ml-md-2" href="#">Login</a>
            </li>

          </ul>
        </div>
    </nav>
    <main>
        <section class="conatiner ">
            <div class="row">
                <div class="col-6 mx-auto pt-5 text-center " >
                    <h2>
                        Bem vindo ao Mochila Cheia aqui,
                    </h2>
                    <h2>
                        aqui você faz a diferença
                    </h2>
                </div>
            </div>
        </section>
        <div id="carouselExampleIndicators" class="carousel slide pt-5" data-bs-ride="carousel">
            <div class="col-8 mx-auto">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="../imgs/mi_12642310187479150.jpg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="../imgs/materiais.jpg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="../imgs/Campanha-arrecada-material-escolar-para-crianças-com-câncer-1200x900.jpg" class="d-block w-100" alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </div>
            <section class="conatiner ">
                <div class="row">
                    <div class="col-6 mx-auto pt-5 text-center" >
                       <p>
                           Diversos alunos querem estudar mas não possuem condições.
                       </p>
                       <p>Aqui diversas escolas próxima á você estão recebendo doações e mudando o futuro dos jovens</p>
                       <h3 class="display-4 text-primary">Bora doar!</h3>
                    </div>
                </div>
            </section>
            <section class="conatiner col-6 mx-auto pt-5 pb-5 ">
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-primary" type="submit">Mostrar Escolas</button>
                    <p>Precisa de doação? Clica aqui embaixo!</p>
                    <button class="btn btn-primary" type="submit">Cadastrar Estudantes</button>
                  </div>
            </section>
            <footer class="bg-success text-white py-2 mt-5 fixed-bottom" >
                <div class="container">
                    <div class="row">
                        <div class="col-4">
                            <h4 class="h6">Páginas</h4>
                            <ul class="list-unstyled text-danger">
                                <li><a href="" class="text-warning">Facebook</a></li>
                                <li><a href="" class="text-warning">Twitter</a></li>
                                <li><a href=""class="text-warning">Instagram</a></li>
                            </ul>  
                        </div>
                        <div class="col-4">
                            <h4 class="h6">Páginas</h4>
                            <ul class="list-unstyled text-warning">
                                <li><a href="" class="text-warning">Facebook</a></li>
                                <li><a href="" class="text-warning">Twitter</a></li>
                                <li><a href="" class="text-warning">Instagram</a></li>
                            </ul>  
                        </div>
                        <div class="col-4">
                            <h4 class="h6">Páginas</h4>
                            <ul class="list-unstyled">
                                <li><a href="" class="text-warning">Facebook</a></li>
                                <li><a href="" class="text-warning">Twitter</a></li>
                                <li><a href="" class="text-warning">Instagram</a></li>
                            </ul>  
                        </div>
                    </div>
                </div>
            </footer>
    </main>

    <script type="text/javascript" src="../js/bootstrap.js"></script>
    <script type="text/javascript" src="../js/jquery-3.2.1.slim.min.js"></script>
    <script type="text/javascript" src="../js/popper.min.js"></script>
    
</body>
</html>