<html lang=>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../styles/bootstrap.css">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Mochila cheia</title>
</head>
<body>
    <nav class="nav navbar navbar-expand-md navbar-light bg-warning fixed-top py-4 box-shadow">
        <a href="index.html" class="navbar-brand">
          <img src="" alt="Mochila Cheia">
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Abrir Navegação">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto me-5">
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contato.html">Contato</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="causa.html">Nossa Causa</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="perguntas.html">Perguntas Frequentes</a>
            </li>
            <button type="submit" class=" btn btn-outline-roxo verdeLetra btn-outline-primary ml-md-2">DOAR</button>
          </ul>
        </div>
    </nav>
    <main>
        <section class="container-fluid">
            <div class="row background mb-5 ">
                 <img  class="col-4 mx-auto mochila " src="../imgs/mochila.svg" class="img-fluid" alt="desenho de mochila aberta com materiais">
            </div>
          
        </section>
        <section class="conatiner ">
            <div class="row">
                <div class="col-6 mx-auto pt-5 text-center " >
                    <h2>
                        Bem vindo ao Mochila Cheia aqui,
                    </h2>
                    <h2>
                        aqui você faz a diferença
                    </h2>
                </div>
            </div>
        </section>
            <section class="conatiner ">
                <div class="row">
                    <div class="col-6 mx-auto pt-5 text-center" >
                       <p>
                           Diversos alunos querem estudar mas não possuem condições.
                       </p>
                       <p>Aqui diversas escolas próxima á você estão recebendo doações e mudando o futuro dos jovens</p>
                       <h3 class="display-4  roxoLetra">Bora doar!</h3>
                    </div>
                </div>
            </section>
            <section class="conatiner col-6 mx-auto pt-5 pb-5 ">
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn botao botaoVerde mx-auto" type="button"><a href="cadastrarConta.html"></a>Criar Conta</button>
                </div>
            </section>
        
    </main>
    <footer class="text-white py-2 mt-5 " >
        <div class="bg-warning" >
          <div class="container">
              <div class="row">
                  <p class="copy roxoLetra pt-3 mx-auto">© 2021 Mochila Cheia.  Todos os direitos reservados</p>
              </div>
          </div>
      </div>
    </footer>

    <script type="text/javascript" src="../js/bootstrap.js"></script>
    <script type="text/javascript" src="../js/jquery-3.2.1.slim.min.js"></script>
    <script type="text/javascript" src="../js/popper.min.js"></script>
    
</body>
</html>