<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/bootstrap.css">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Mochila cheia</title>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light bg-warning fixed-top py-4 box-shadow" >
        <a href="index.html" class="navbar-brand">
          <img src="" alt="Mochila Cheia">
        </a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Abrir Navegação">
        <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto me-5">
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contato</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Nossa Causa</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#">Perguntas Frequentes</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-outline-roxo verdeLetra btn-outline-primary ml-md-2" href="">DOAR</a>
            </li>

          </ul>
        </div>
    </nav>
    <main>
        <section class="container-sm col-12 ">
            <div class="row">
                <div class=" container-md col-12  pt-5 setarMargin " >
                    <h2 class="teste roxoLetra setarPadding mx-auto">
                    Escolas
                    </h2>
                </div>
            </div>
        </section>

    <section class="container-sm col-12">
        <div class="row ">
            
            <div class="input-group flex-nowrap container-md col-12  pt-5 mx-auto barraPesquisa mx-auto ">
                    <span class="input-group-text" id="addon-wrapping">	&#128269;</span>
                    <input type="text" class="form-control" placeholder="Digite o material ou escola" aria-label="Username" aria-describedby="addon-wrapping">
            </div>
                 
            </div>
            <div class="input-group flex-nowrap container-md col-12  pt-5 mb-3 mx-auto barraPesquisa mx-auto ">
                <span class="input-group-text" id="addon-wrapping">		
                    &#128204;</span>
                <input type="text" class="form-control" placeholder="Cidade, Estado ou CEP" aria-label="Username" aria-describedby="addon-wrapping">
            </div>             

        </div> 
    </section> 
    <section class="container-sm col-12 ">
         <div class="row">
            <div class="form-check container-md col-12  pt-5 mx-auto barraPesquisa mx-auto setarPadding " >
                 <button type="submit" class="btn botaoVerde botao2  alinhamentoBotao">Procurar Escolas</button>
                 <!-- <p class="teste mt-5 roxoLetra text-center mx-auto">Não possui uma conta? <a href="views\login.html">Criar Conta</a> </p> -->
            </div>      
         </div>
    </section> 
    <section class="container-sm col-12">
        <div class="accordion accordion-flush mt-3" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed active roxoLetra" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                 Escola
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book..</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed roxoLetra" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                 Escola
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book..</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingThree">
                <button class=" accordion-button collapsed roxoLetra" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    Escola
                </button>
              </h2>
              <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book..</div>
              </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                  <button class=" accordion-button collapsed roxoLetra" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                      Escola
                  </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book..</div>
                </div>
              </div>
          </div>
    </section>
    </main>
    <footer class=" container-fluid botaoVerde text-white py-2 mt-5 " >
        <div class="container">
            <div class="row">
                <div class="col-8 text-warning">
                    <h4 class="h6">Endereço</h4>
                    <ul class="list-unstyled roxoLetra ">
                        <li>Avenida Barão de Jaceguai</li>
                        <li>São Paulo-SP</li>
                        <li>Centro</li>
                    </ul>  
                </div>
                <div class="col-4 ">
                    <h4 class="h6 text-warning">Páginas</h4>
                    <ul class="list-unstyled roxoLetra">
                        <li><a href="" class="roxoLetra">Facebook</a></li>
                        <li><a href="" class="roxoLetra">Twitter</a></li>
                        <li><a href="" class="roxoLetra">Instagram</a></li>
                    </ul>  
                </div> 
            </div>
        </div>
    </footer>
    <div class=" container-fluid bg-warning" >
        <div class="container">
            <div class="row">
                <p class="copy roxoLetra pt-3 mx-auto">© 2021 Mochila Cheia.  Todos os direitos reservados</p>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../js/bootstrap.js"></script>
    <script type="text/javascript" src="../js/jquery-3.2.1.slim.min.js"></script>
    <script type="text/javascript" src="../js/popper.min.js"></script>
    
</body>
</html>