* {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}

body {
  /* height: 1200px; */
  padding-top: 85px;
}

.botaoVerde {
  background-color: #66922a;
}
.botaoVerde:hover {
  background-color: #8c30f5;
  color: white;
}
.botaoRoxo {
  background: #8c30f5;
}

.roxoLetra {
  color: #8c30f5;
}

.background {
  background-image: linear-gradient(to right, #66922a, #91b54c);
  height: 104px;
}
.mochila {
  width: 249px;
}
.inputInfo {
  border: 1px solid #d9dbe9;
  box-sizing: border-box;
  border-radius: 5px;
  width: 300px;
  height: 46px;
  margin: 0px;
  padding: 0px;
}

.botao2 {
  border-radius: 8px;
  width: 327px;
  height: 60px;
}
.alinhamento {
  text-align: center;
}
.padding16 {
  padding: 16px;
}
.setarMargin {
  margin: 0px;
}
.setarPadding {
  padding: 0px;
}
.teste {
  width: 300px;
}

.alinhamentoBotao {
  margin: 0px auto;
}
.copy {
  width: 400px;
  height: 55px;
}
.barraPesquisa {
  width: 328px;
}
